<div class="row">
  <div *ngIf="this.label" class="col-form-label">
    <label>{{this.label}}</label>
  </div>
  <div *ngIf="inputType === 'text'" class="col">
    <input [maxLength]="this.maxLength" [formControl]="$any(this.customControl)" type="text" class="form-control" [placeholder]="this.placeholder">
  </div>
  <div *ngIf="inputType === 'progress-bar'" class="col row">
    <div class="col-2">
      <input appOnlyNumbers [formControl]="$any(this.customControl)" type="text" class="form-control progress-bar-input"
             [placeholder]="this.placeholder">
    </div>
    <div class="col-10 my-auto">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style]="'width:'+ (this.customControl?.value * 100 / 250)+'%'"
             [attr.aria-valuenow]="this.customControl?.value"
             aria-valuemin="0"
             aria-valuemax="250"></div>
      </div>
    </div>
  </div>
  <div *ngIf="this.customControl?.dirty && this.customControl?.getError('required')" class="text-danger col-12">
    Campo Requerido
  </div>
</div>


